/* we can apply a CSS effect to various elements at the same time */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
}

/* 'p' element is the child element of the 'footer' element */
/* footer p {
  font-size: 16px;
} */

/* using 'class' and 'id' as selectors makes it easier to apply CSS on specific elements */
/* we mostly use 'class' in case there needs to be changes made in the future */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* using a 'pseudo-class' quickly selects elements as selectors */
/* 'li:first-child' selects each of the first 'li' child elements existing in HTML */
li:first-child {
  font-weight: bold;
}

/* 'li:last-child' selects each of the last 'li' child elements existing in HTML */
li:last-child {
  font-style: italic;
}

/* 'li:nth-child' specifically selects child elements manually (ex. number, odd, even) */
/* li:nth-child(2) {
  color: red;
} */

/* 'pseudo-classes' will not work well on descendant selectors because they do not categorize these classes by their specific elements */
article p:first-child {
  color: red;
}
